    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-md-5">
            <button type="button" class="navbar-toggle" toggle="collapse" target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" title="WebImage">Buscador Wikipedia</a>
          </div>
        </div>
      </div>
    </div>

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
          <a >Buscador</a>
        </li>
        
      </ul>
    </div>
    <body>
      <div class="container">
        <img src="styles/logo.png">
        <div ng-controller="searchCtrl">
          <div class="row searchbox">
            <div class="col-md-8">
              <input type="text" ng-model="searchText" ng-change="search()" placeholder="Que buscas?" class="form-control">
            </div>
          </div>

          <div class="row searchresults">
            <ul class="list-unstyled">
              <li ng-repeat="result in searchResults">
                <a href="{{result.url}}">
                  <h4>{{result.title}}</h4>
                  <p>{{result.abstract}}</p>
                </a>    
              </li>
            </ul>
          </div>
        </div>
      </div>

    </body>


    </html>
