       .dynamic-grid {
        position: relative;
        display: none;
      }
      .dynamic-grid.angular-grid {
        display: block;
      }
      .grid {
        position: absolute;
        list-style: none;
        background: #ffffff;;
        box-sizing: border-box;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
        overflow: hidden;
        border-radius: 10px;
      }
      .grid.ng-leave {
        -webkit-transition: all ease 400ms;
        transition: all ease 400ms;
      }
      .grid.ng-leave.ng-leave-active {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
      }
      .grid.ng-enter {
        -webkit-transition: all ease 400ms;
        transition: all ease 400ms;
        -webkit-transition-delay: 500ms;
        transition-delay: 500ms;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
      }
      .grid.ng-enter.ng-enter-active {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
      .grid-img {
        width: 100%;
        vertical-align: middle;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
      }
      .grid-img.img-loaded {
        visibility: visible;
        opacity: 1;
      }


      .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
      }

      form .progress {
        line-height: 15px;
      }
    }

    .progress {
      display: inline-block;
      width: 100px;
      border: 3px groove #CCC;
    }

    .progress div {
      font-size: smaller;
      background: orange;
      width: 0;
    }

    body{
     padding-top: 51px;
   }

   /* ng-cloak */
   [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
  }
  ul{
   list-style: none;
 }
 a{
   color: #333;
 }
 a:hover{
   cursor: pointer;
 }
 ul.simple-post-list .post-image {
   float: left;
   margin-right: 12px;
 }
 ul.simple-post-list {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .callout-box{
   background-color: #546489;
   color: #fff;
   padding: 10px 20px;
 }
 .body-title{
   border: 1px solid #e3e3e3;
   border-left: 5px solid #234383;
   padding: 0 20px 20px;
 }
 .featured-box{
   border: 1px solid #e3e3e3;
   border-top: 5px solid #234383;
   padding: 0 20px 20px;
 }
 .breadcrumbs {
  position: relative;
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
  border-top: 0;
  box-shadow: none;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 34px;
  font-size: 1em;
  line-height: 20px;
}
.form-group-addon{
	padding-left: -20px;
}

.col-md-8 {
  padding-top: 4%;
  margin-left: 15%;
}
img {
  
  width: 200px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}